  <div *ngFor='let m of members' highlight (mouseover)="setAge(m.name)">
      {{m.name}} {{m.age}}
  </div>

  <div>
    {{name}}
    <br>
    <input type = 'text' [value] = "name">

    <br>

    <contactinput (save)="onSave($event)"></contactinput>
   
  </div>
<br><br><br>


<!--<form [formGroup]="form" (submit) = "submitForm($event)">
	<input formControlName ="user_id" pattern="[a-zA-Z0-9]+">
  <button type = "submit" [disabled]="!form.valid">전송</button>
</form>-->

<form #f = "ngForm">
아이디 : <input type = "text" [(ngModel)] = "user.userId" #userId = "ngModel" name = 'userid' placeholder="2-10글자" pattern="^[a-z][a-z0-9]{1,9}" required> {{userId.valid}}<br>
이름 : <input type = "text" [(ngModel)] = "user.userName" #userName = "ngModel" name = 'userName' placeholder="2-5글자" pattern="^[a-z][a-z0-9]{1,5}" required> {{userName.valid}}<br/>
패스워드 : <input type = "password" [(ngModel)] = "user.password" #userPasswd = "ngModel" placeholder="2-5글자" pattern="^[a-z][a-z0-9]{1,5}" [ngModelOptions]="{standalone:true}" required> {{userPasswd.valid}}

<wiki-promise-cmp></wiki-promise-cmp>

<div *ngIf = "f.valid">
  {{f.value|json}}
</div>
</form>

  신뢰할 수 있는 URL : <a [href]="trustURL">연결</a><Br>
  신뢰할 수 있는 URL : <a [href]="transToTrustURL('https://angular.io')">연결</a><Br>


<div [mystyle]="'Lavender'" [myfontsize]="'30px'">아웅 살수가 없다.</div>

  <div>
    <button (click)="toggleBtn()">토글 {{active?'활성화':'비활성화'}}</button>
    <button [ngClass]="myClass" my-click>버튼1</button>
    <button [ngClass]="myClass" [one]="'-_-'" msg = '추가메시지'>버튼2</button>


    <button myDirective [inputValue]="msg" staticValue = "안녕하세요" (complete)="onComplete($event)">인사말 출력</button>
    <button (click)="modifyMsg()">인사말 수정</button>
  </div>

  <app-sync></app-sync>
  